div {
    margin: 5px 0 5px 0;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

select {
    width: 180px;
}

input {
    width: 146px;
}

button{
    margin: 10px 0 5px 0;
}

.tip{
    color: #333;
    font-size: 12px;
}

.tip-desc{
    padding-top:5px;
    text-align: right;
}

.boardContainer{
    clear: left;
    margin-top: 162px;
}

.container {
    position: relative;
    margin: 5px;
    padding: 5px 20px 5px 25px;
    background-color: #f4f4f4;
    float: left;
}

.container-border{
    border: 1px solid #aaa;
    border-radius: 3px;
}

.step-count {
    width: 100%;
    height: 24px;
    vertical-align: middle;
}

#iterationCount {
    width: 100%;
    height: 24px;
    font: 20px arial, sans-serif;
    color: #000;
    vertical-align: middle;

}

.show {
    display: block;
    overflow: visible;
}

.hide {
    display: none;
    overflow: hidden;
}

.options-bar {
    background: #dedede;
    padding: 5px;
     position: fixed;
     top: 8px;
     left: 8px;

     /* IE6 */
     _position: absolute;
     _top: expression(document.getElementsByTagName("body")[0].scrollTop + "px");
 }